* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

body {
  color: white;
  font-family: poppins;
  overflow-x: hidden;
}

.home {
  height: 100vh;
}

.header {
  display: flex;
  height: 15vh;
  align-items: center;
  padding: 2rem;
  position: relative;
}

.logo {
  flex: 1;
}

.logo img {
  width: 5rem;
  margin-left: 10%;
}

.button {
  position: absolute;
  top: 25%;
  right: 5%;
  color: white;
  padding: 1.5rem 2rem;
  outline: none;
  border: none;
  border-radius: 48%;
  background-color: #2f88fb;
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
  transition: all 0.5s ease;
}

.nav {
  flex: 2;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 1.9rem;
  cursor: pointer;
}

/* .nav ul li a:hover {
  color: #2f88fb;
} */

.nav li:hover a {
  color: black;
  background: white;
}

.nav li a {
  text-decoration: none;
  color: white;
  padding: 3rem 4rem;
  text-align: center;
  transition: background 0.5s ease;
}

.info-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info .heading1 {
  font-size: 3rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.8rem;
}

.info .heading2 {
  font-size: 6rem;
  font-weight: 700;
  color: #2f88fb;
  letter-spacing: 1.8rem;
}

.info .heading3 {
  font-size: 2rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.5rem;
}

/* About Section ************************************************************/

.about {
  display: flex;
}

.left-section img {
  height: 75rem;
}

.left-section {
  width: 40%;
  display: flex;
  justify-content: center;
}

.right-section {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}

.right-section .heading {
  position: relative;
  width: 80%;
  align-self: flex-start;
}

.heading_main {
  font-size: 18rem;
  color: #2f88fb;
  padding: 5rem;
}

.right-section .para {
  align-self: flex-start;
  padding: 0 6rem;
  font-size: 2rem;
  min-width: 70%;
  margin-bottom: 1rem;
}

.right-section .heading_top {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  text-align: center;
  font-weight: 400;
  position: absolute;
  top: 45%;
  left: 25%;
  color: white;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.btn {
  font-size: 1.8rem;
  padding: 1rem 3rem;
  outline: none;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
}

.right-section .btn {
  align-self: flex-start;
  color: white;
  background-color: #2f88fb;
  margin-top: 5rem;
  margin-left: 6rem;
  transition: all 0.5s ease;
}

.right-section .btn:hover {
  background-color: transparent;
  border: 1px solid #2f88fb;
}

.btn a {
  text-decoration: none;
  color: inherit;
}

/* Skills Section ***********************************************************/

/* .skills {
  height: 100vh;
} */

.heading_secondary {
  font-size: 8rem;
  color: #2f88fb;
  padding: 5rem;
  text-align: center;
  margin-top: 5rem;
}

.skills_container {
  padding: 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30rem;
  width: 20rem;
  background: rgb(248, 242, 242);
  border-radius: 2rem;
  color: #2f88fb;
  transition: all 0.5s ease;
  margin: 2rem;
}

.skill:hover {
  transform: translateY(-2rem);
}

.skill_circle {
  position: relative;
  width: 18rem;
  height: 18rem;
  background-color: rgb(248, 242, 242);
  border-radius: 50%;
  border: 1.5rem solid #2f88fb;
}

/* .skill_circle .inner {
  position: absolute;
  height: 15rem;
  width: 15rem;
  background-color: beige;
  top: 2.5rem;
  left: 2.5rem;
  border-radius: 50%;
} */

.skill_circle img {
  height: 9rem;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skill_info h1 {
  font-size: 2.3rem;
  padding-top: 0.5rem;
}

.skill_info h2 {
  font-size: 1.6rem;
  text-align: center;
  color: black;
}

/* My Work *******************************************************************/

/* .my_work {
  height: 110vh;
} */

.my_work-container {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  padding-bottom: 5rem;
}

.project {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  cursor: pointer;
  position: relative;
  margin: 2rem;
}

.project:hover .solid {
  transform: translateY(0);
}

.project:hover .btn-white {
  display: inline-block;
}

.project .image {
  width: 40rem;
  height: 25rem;
  overflow: hidden;
  border-radius: 2rem;
  position: relative;
}
.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project_name {
  color: #2f88fb;
  font-size: 2.5rem;
  z-index: 10;
  text-align: center;
  padding: 1rem;
}

.btn-white {
  display: inline-block;
  color: #2f88fb;
  background-color: beige;
  text-decoration: none;
  width: 12rem;
  font-weight: 500;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: all 0.5s ease;
}

.btn-white:hover {
  padding: 1rem 4rem;
}

.solid {
  background-color: #2f88fb;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  transform: translateY(100%);
  transition: all 0.5s ease;
}

/* popup**********************************************************************/

.popup_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  height: 90vh;
  width: 90vw;
  border-radius: 2rem;
  background-color: rgb(248, 242, 242);
  transition: all 1s ease;
}

.close {
  position: fixed;
  top: 3rem;
  right: 4rem;
  border: none;
  outline: none;
  color: #2f88fb;
  background: transparent;
  font-size: 2.2rem;
  font-weight: 500;
  cursor: pointer;
}

.popup_image {
  width: 35rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 2rem;
  position: relative;
}

.popup_animate {
  transform: translate(-50%, -50%) scale(1);
}

.active {
  visibility: hidden;
  opacity: 0;
}

/*footer*********************************************************/

.footer {
  padding: 6rem;
  text-align: center;
}

.footer h1 {
  margin-top: 0;
  margin-bottom: 5rem;
  padding-top: 0;
}

.heading_tertiary {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}

.email {
  font-size: 2rem;
  color: #2f88fb;
}

.social_para {
  text-align: center;
  padding-top: 3rem;
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 3rem;
  color: rgb(133, 125, 125);
}

.social {
  font-size: 4.5rem;
  padding: 0;
}

.social a {
  color: rgb(248, 242, 242);
  padding: 0;
}

.social a:hover {
  color: #2f88fb;
}

.footer_end {
  font-size: 2rem;
  padding: 2rem;
  font-weight: 300;
}

.footer_end span {
  color: #2f88fb;
  font-weight: 500;
}

/* Media Queries*************************************************************/

@media screen and (max-width: 1320px) {
  .popup {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 1120px) {
  html {
    font-size: 58%;
  }

  .nav li a {
    padding: 1.5rem 2.5rem;
  }

  .left-section img {
    height: 65rem;
  }

  .right-section {
    padding-top: 2rem;
  }

  .heading_main {
    font-size: 15rem;
  }
}

@media screen and (max-width: 920px) {
  html {
    font-size: 55%;
  }

  .heading_main {
    display: none;
  }

  .heading {
    height: 20rem;
  }

  .right-section .heading_top {
    left: 12%;
    color: #2f88fb;
    font-weight: 600;
  }

  .right-section {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 790px) {
  html {
    font-size: 52%;
  }

  .button {
    display: block;
  }

  .home {
    overflow-x: hidden;
  }

  .nav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60vw;
    justify-content: space-between;
    padding: 20% 10%;
    background-color: #2f88fb;
    transform: translateX(100%);
    transition: all 0.5s ease;
  }

  .nav li {
    padding: 3rem;
  }

  .nav-active {
    transform: translateX(0);
  }

  .button-active {
    z-index: 500;
    background-color: beige;
    color: #2f88fb;
  }

  .about {
    flex-direction: column;
  }

  .left-section {
    width: 100vw;
    justify-content: center;
    margin-left: -5rem;
    overflow: hidden;
  }

  .about .left-section img {
    height: 65rem;
    margin-left: 5vh;
  }
  .right-section {
    width: 100vw;
  }

  .right-section .heading {
    width: 100%;
  }

  .right-section .heading_top {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .right-section .btn {
    align-self: center;
    margin-left: 0;
  }

  .right-section .para {
    text-align: center;
    padding: 0 3rem;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 550px) {
  .info .heading1 {
    font-size: 2rem;
    letter-spacing: 0.6rem;
  }

  .info .heading2 {
    font-size: 4.5rem;
    letter-spacing: 1.5rem;
  }

  .info .heading3 {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
  }
}

@media screen and (max-width: 464px) {
  .skills_container {
    padding: 3rem;
  }
  .skill {
    flex-direction: row;
    height: 20rem;
    width: 100%;
    margin: 2rem 0;
    justify-content: space-evenly;
  }

  .skill_circle {
    padding: 2rem;
  }

  .skill_info {
    padding: 2rem;
  }

  .skill_circle {
    width: 15rem;
    height: 15rem;
    border: 1.3rem solid #2f88fb;
  }

  .skill_circle img {
    height: 7rem;
  }

  .heading_secondary {
    font-size: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 420px) {
  .info .heading1 {
    font-size: 2.5rem;
    letter-spacing: 0.6rem;
  }

  .info .heading2 {
    font-size: 6rem;
    letter-spacing: 1.5rem;
    text-align: center;
    padding: 2rem 1rem;
  }

  .nav li {
    padding: 1rem;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 45%;
  }
}
